* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:host {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
}

.open {
  pointer-events: none;
}

main {
  position: relative;
  width: 100%;
  height: 100%;
}

.door-frame {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 1.2s ease-out;
  cursor: pointer;
  user-select: none;
  -webkit-user-drag: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
}

.label-container {
  background-color: #aaa;
  border-radius: 50%;
  width: 60%;
  color: #fff;
  font-size: 25px;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

.door-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  -webkit-user-drag: none;
  background-repeat: no-repeat;
  background-position: center;
}
