:host {
  display: block;
  contain: content;
}

.viewport,
.viewport * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.viewport {
  width: 100%;
  height: 100%;
  overflow: auto;
  position: relative;
  user-select: none;
  cursor: default;
  touch-action: none;

  &:active {
    cursor: grabbing;
  }
}

.content-area {
  position: absolute;
  top: 0;
  left: 0;
  will-change: transform;
}

.hide-scrollbars {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  -webkit-overflow-scrolling: touch; /* Enable momentum scrolling (iOS) */

  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
}
