* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color-scheme: light dark;
  font-family: system-ui;
}

.app {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
}

pan-container {
  width: 100vw;
  height: 100vh;
}

@media (min-width: 1024px) {
  pan-container {
    height: calc(1 * 600px);
    width: calc(1 * 1024px);
  }
}

.pan-content {
  position: relative;
  background: url('../assets/images/platte.webp');
  width: 1500px;
  height: 2265px;
}

.door {
  position: absolute;
  cursor: pointer;
  -webkit-user-drag: none;
}

.door-04 {
  left: 572px;
  top: 104px;
}
